
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="masthead inline-header left widgets shadow-decoration small-mobile-menu-icon dt-parent-menu-clickable show-device-logo show-mobile-logo" role="banner">

    <div class="top-bar top-bar-empty top-bar-line-hide">
        <div class="top-bar-bg"></div>
        <div class="mini-widgets left-widgets"></div>			<div class="mini-widgets right-widgets"></div>
    </div>

    <header class="header-bar">

        <div class="branding">
            <div id="site-title" class="assistive-text">oishitown.com</div>
            <div id="site-description" class="assistive-text">Phố Nhật Bản Oishi Town</div>
            <a href="http://oishitown.com/"><img class=" preload-me" src="http://oishitown.com/wp-content/uploads/2018/04/Logo-oishitown.png" srcset="http://oishitown.com/wp-content/uploads/2018/04/Logo-oishitown.png 136w, http://oishitown.com/wp-content/uploads/2018/04/logo.png 416w" width="136" height="68" sizes="136px" alt="oishitown.com" /><img class="mobile-logo preload-me" src="http://oishitown.com/wp-content/uploads/2018/04/Logo-oishitown_1x.png" srcset="http://oishitown.com/wp-content/uploads/2018/04/Logo-oishitown_1x.png 97w" width="97" height="49" sizes="97px" alt="oishitown.com" /></a>
        </div>
        <ul id="primary-menu" class="main-nav underline-decoration l-to-r-line" role="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-4065 first"><a href='/home/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Trang chủ</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4064"><a href='/home/about' data-level='1'><span class="menu-item-text"><span class="menu-text">Giới thiệu</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4156"><a href='/customer/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Khách hàng</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href='/event/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Sự kiện</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4060 current_page_item menu-item-4293 act"><a href='/news/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Tin tức</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4063"><a href='/home/contact' data-level='1'><span class="menu-item-text"><span class="menu-text">Liên hệ</span></span></a></li>
            <li class="menu-item wpml-ls-slot-123 wpml-ls-item wpml-ls-item-vi wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-123-vi"><a href='http://oishitown.com' data-level='1'><span class="menu-item-text"><span class="menu-text"><img class="wpml-ls-flag" src="http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/vi.png" alt="vi" title="Tiếng Việt"></span></span></a></li>
            <li class="menu-item wpml-ls-slot-123 wpml-ls-item wpml-ls-item-en wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-123-en"><a href='http://oishitown.com?lang=en' data-level='1'><span class="menu-item-text"><span class="menu-text"><img class="wpml-ls-flag" src="http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png" alt="en" title="English"></span></span></a></li>
        </ul>
        <div class="mini-widgets">
            <div class="mini-search show-on-desktop near-logo-first-switch near-logo-second-switch">
                <form class="searchform" role="search" method="get" action="http://oishitown.com/">

                    <label for="search" class="screen-reader-text">Search:</label>
                    <input type="text" class="field searchform-s" name="s" value="" placeholder="Type and hit enter &hellip;" />
                    <input type="hidden" name="lang" value="vi" />		<input type="submit" class="assistive-text searchsubmit" value="Go!" />
                    <a href="#go" id="trigger-overlay" class="submit">Tìm kiếm</a>
                </form>
            </div><div class="soc-ico show-on-desktop in-top-bar-right in-menu-second-switch custom-bg disabled-border border-off hover-accent-bg hover-disabled-border  hover-border-off"><a title="Facebook" href="https://www.facebook.com/oishitownthaodien/" target="_blank" class="facebook"><span class="soc-font-icon"></span><span class="screen-reader-text">Facebook</span></a><a title="Twitter" href="/" target="_blank" class="twitter"><span class="soc-font-icon"></span><span class="screen-reader-text">Twitter</span></a><a title="Google+" href="/" target="_blank" class="google"><span class="soc-font-icon"></span><span class="screen-reader-text">Google+</span></a></div>
        </div>
    </header>

</div><div class='dt-close-mobile-menu-icon'><span></span></div>
<div class='dt-mobile-header'>
    <ul id="mobile-menu" class="mobile-main-nav" role="menu">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4065"><a href='/home/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Trang chủ</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4064"><a href='/home/about' data-level='1'><span class="menu-item-text"><span class="menu-text">Giới thiệu</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4156"><a href='/customer/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Khách hàng</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href='/event/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Sự kiện</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4293"><a href='/news/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Tin tức</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4063"><a href='/home/contact' data-level='1'><span class="menu-item-text"><span class="menu-text">Liên hệ</span></span></a></li>
        <li class="menu-item wpml-ls-slot-123 wpml-ls-item wpml-ls-item-vi wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-123-vi"><a href='http://oishitown.com' data-level='1'><span class="menu-item-text"><span class="menu-text"><img class="wpml-ls-flag" src="http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/vi.png" alt="vi" title="Tiếng Việt"></span></span></a></li>
        <li class="menu-item wpml-ls-slot-123 wpml-ls-item wpml-ls-item-en wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-123-en"><a href='http://oishitown.com?lang=en' data-level='1'><span class="menu-item-text"><span class="menu-text"><img class="wpml-ls-flag" src="http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png" alt="en" title="English"></span></span></a></li>
    </ul>
    <div class='mobile-mini-widgets-in-menu'></div>
</div>
<div class="page-title title-left solid-bg breadcrumbs-mobile-off page-title-responsive-enabled">
    <div class="wf-wrap">

        <div class="page-title-head hgroup"><h1><span>Tin tức</span></h1></div><div class="page-title-breadcrumbs"><div class="assistive-text">You are here:</div><ol class="breadcrumbs text-small" xmlns:v="http://rdf.data-vocabulary.org/#"><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://oishitown.com/" title="">Home</a></li><li class="current">Category "Tin tức"</li></ol></div>
    </div>
</div>



<div id="main" class="sidebar-none sidebar-divider-off">


    <div class="main-gradient"></div>
    <div class="wf-wrap">
        <div class="wf-container-main">


            <!-- Content -->
            <div id="content" class="content" role="main">

                <div class="wf-container loading-effect-fade-in iso-container bg-under-post description-under-image content-align-left" data-padding="10px" data-cur-page="1" data-width="320px" data-columns="3">
                    <div class="wf-cell iso-item" data-post-id="4191" data-date="2018-04-19T06:28:15+00:00" data-name="Những nét văn hoá đặc sắc của Nhật Bản">
                        <article class="post post-4191 type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc category-1 bg-on fullwidth-img description-off">


                            <div class="blog-media wf-td">

                                <p><a href="/news/detail" class="alignnone rollover layzr-bg"><img class="iso-lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20720%20402&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/23473187_131655880869449_9088506461407384512_n-720x402.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/23473187_131655880869449_9088506461407384512_n-720x402.jpg 720w, http://oishitown.com/wp-content/uploads/2018/04/23473187_131655880869449_9088506461407384512_n-865x482.jpg 865w" alt="" title="23473187_131655880869449_9088506461407384512_n" width="720" height="402" /></a></p>
                            </div>


                            <div class="blog-content wf-td">
                                <h3 class="entry-title"><a href="/news/detail" title="Những nét văn hoá đặc sắc của Nhật Bản" rel="bookmark">Những nét văn hoá đặc sắc của Nhật Bản</a></h3>

                                <div class="entry-meta"><span class="category-link"><a href="/news/index">Tin tức</a></span><a class="author vcard" href="http://oishitown.com/author/thien-tran" title="View all posts by thien.tran" rel="author">By <span class="fn">thien.tran</span></a><a href="http://oishitown.com/2018/04/19" title="06:28" class="data-link" rel="bookmark"><time class="entry-date updated" datetime="2018-04-19T06:28:15+00:00">19/04/2018</time></a></div><p>Như chúng ta đều biết, Nhật Bản là một quốc gia liên tục hứng chịu ảnh hưởng của thiên tai như động đất, sóng thần , núi lửa,… Trong số đó, cùng đã có không ít thiên tai kinh hoàng đến thức không khác gì thảm họa. Vậy mà, với ý chí bền bỉ, kiên&hellip;</p>

                            </div>

                        </article>

                    </div>
                    <div class="wf-cell iso-item" data-post-id="4189" data-date="2018-04-19T06:25:57+00:00" data-name="Phố Nhật Bản Oishi Town">
                        <article class="post post-4189 type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc category-1 bg-on fullwidth-img description-off">


                            <div class="blog-media wf-td">

                                <p><a href="http://oishitown.com/pho-nhat-ban-oishi-town.html" class="alignnone rollover layzr-bg"><img class="iso-lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20720%20398&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/demo_oishitown-720x398.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/demo_oishitown-720x398.jpg 720w, http://oishitown.com/wp-content/uploads/2018/04/demo_oishitown-1440x796.jpg 1440w" alt="" title="demo_oishitown" width="720" height="398" /></a></p>
                            </div>


                            <div class="blog-content wf-td">
                                <h3 class="entry-title"><a href="http://oishitown.com/pho-nhat-ban-oishi-town.html" title="Phố Nhật Bản Oishi Town" rel="bookmark">Phố Nhật Bản Oishi Town</a></h3>

                                <div class="entry-meta"><span class="category-link"><a href="http://oishitown.com/tin-tuc">Tin tức</a></span><a class="author vcard" href="http://oishitown.com/author/thien-tran" title="View all posts by thien.tran" rel="author">By <span class="fn">thien.tran</span></a><a href="http://oishitown.com/2018/04/19" title="06:25" class="data-link" rel="bookmark"><time class="entry-date updated" datetime="2018-04-19T06:25:57+00:00">19/04/2018</time></a></div><p>Oishi Town là một khu phố ẩm thực – văn hóa được xây dựng theo phong cách Nhật Bản. Tuy nhiên, những gian hàng tại Oishi Town không hoàn toàn là của các đối tác Nhật Bản mà vẫn cò sự xuất hiện của của các gian hàng Việt Nam, Âu Mĩ nhưng phong cách Nhật&hellip;</p>

                            </div>

                        </article>

                    </div>
                </div>
            </div><!-- #content -->



        </div><!-- .wf-container -->
    </div><!-- .wf-wrap -->
</div><!-- #main -->
