
<!DOCTYPE html>
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="vi-VN" prefix="og: http://ogp.me/ns#" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#e1474d" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="http://oishitown.com/xmlrpc.php" />
    <script type="text/javascript">
            var originalAddEventListener, oldWidth;

            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                originalAddEventListener = EventTarget.prototype.addEventListener;
                oldWidth = window.innerWidth;

                EventTarget.prototype.addEventListener = function (eventName, eventHandler) {
                    if (eventName === "resize" && oldWidth === window.innerWidth) {
                        return;
                    }
                    else if (eventName === "resize" && oldWidth !== window.innerWidth) {
                        oldWidth = window.innerWidth;
                    }
                    originalAddEventListener.call(this, eventName, eventHandler);
                };
            }
    </script>
    <title>Phố Nhật Bản Oishi Town - Oishitown.com</title>
    <link rel="alternate" hreflang="vi" href="http://oishitown.com" />
    <link rel="alternate" hreflang="en" href="http://oishitown.com?lang=en" />

    <!-- This site is optimized with the Yoast SEO plugin v7.3 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel="canonical" href="http://oishitown.com" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Phố Nhật Bản Oishi Town - Oishitown.com" />
    <meta property="og:url" content="http://oishitown.com" />
    <meta property="og:site_name" content="oishitown.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Phố Nhật Bản Oishi Town - Oishitown.com" />
    <script type='application/ld+json'>
        {"@@context":"https:\/\/schema.org","@@type":"WebSite","@@id":"#website","url":"http:\/\/oishitown.com\/","name":"oishitown.com","potentialAction":{"@@type":"SearchAction","target":"http:\/\/oishitown.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}
    </script>
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="oishitown.com &raquo; Feed" href="http://oishitown.com/feed" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/oishitown.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.5"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='http://oishitown.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='http://oishitown.com/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.4.7.1' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='js_composer_front-css' href='http://oishitown.com/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.4.7' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-web-fonts-css' href='//fonts.googleapis.com/css?family=Roboto%3A400%2C600%2C700%7CMaven+Pro%3A400%2C500%2C600%2C700%7CRoboto+Condensed%3A400%2C600%2C700&#038;ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-main-css' href='http://oishitown.com/wp-content/themes/dt-the7/css/main.min.css?ver=6.4.0' type='text/css' media='all' />
    <style id='dt-main-inline-css' type='text/css'>
        body #load {
            display: block;
            height: 100%;
            overflow: hidden;
            position: fixed;
            width: 100%;
            z-index: 9901;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all .35s ease-out;
            transition: all .35s ease-out;
        }

        .load-wrap {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: center;
        }

            .load-wrap > svg {
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
            }

        #load {
            background-color: #ffffff;
        }

        .uil-default rect:not(.bk) {
            fill: rgba(97,98,103,0.4);
        }

        .uil-ring > path {
            fill: rgba(97,98,103,0.4);
        }

        .ring-loader .circle {
            fill: rgba(97,98,103,0.4);
        }

        .ring-loader .moving-circle {
            fill: #616267;
        }

        .uil-hourglass .glass {
            stroke: #616267;
        }

        .uil-hourglass .sand {
            fill: rgba(97,98,103,0.4);
        }

        .spinner-loader .load-wrap {
            background-image: url("data:image/svg+xml,%3Csvg width='75px' height='75px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-default'%3E%3Crect x='0' y='0' width='100' height='100' fill='none' class='bk'%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(0 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(30 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(60 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(90 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(120 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(150 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(180 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(210 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(240 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(270 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(300 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='rgba%2897%2C98%2C103%2C0.4%29' transform='rotate(330 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
        }

        .ring-loader .load-wrap {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='72' height='72' fill='rgba%2897%2C98%2C103%2C0.4%29'%3E   %3Cpath opacity='.25' d='M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4'/%3E   %3Cpath d='M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z'%3E     %3CanimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='0.8s' repeatCount='indefinite' /%3E   %3C/path%3E %3C/svg%3E");
        }

        .hourglass-loader .load-wrap {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='72' height='72' fill='rgba%2897%2C98%2C103%2C0.4%29'%3E   %3Cpath transform='translate(2)' d='M0 12 V20 H4 V12z'%3E      %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline'  /%3E   %3C/path%3E   %3Cpath transform='translate(8)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.2' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline'  /%3E   %3C/path%3E   %3Cpath transform='translate(14)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.4' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E   %3Cpath transform='translate(20)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.6' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E   %3Cpath transform='translate(26)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.8' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E %3C/svg%3E");
        }
    </style>
    <link rel='stylesheet' id='dt-awsome-fonts-back-css' href='http://oishitown.com/wp-content/themes/dt-the7/fonts/FontAwesome/back-compat.min.css?ver=6.4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-awsome-fonts-css' href='http://oishitown.com/wp-content/themes/dt-the7/fonts/FontAwesome/css/fontawesome-all.min.css?ver=6.4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-fontello-css' href='http://oishitown.com/wp-content/themes/dt-the7/fonts/fontello/css/fontello.min.css?ver=6.4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='the7pt-static-css' href='http://oishitown.com/wp-content/themes/dt-the7/css/post-type.css?ver=6.4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-custom-css' href='http://oishitown.com/wp-content/uploads/the7-css/custom.css?ver=e98e5d771f48' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-media-css' href='http://oishitown.com/wp-content/uploads/the7-css/media.css?ver=e98e5d771f48' type='text/css' media='all' />
    <link rel='stylesheet' id='wpml.less-css' href='http://oishitown.com/wp-content/uploads/the7-css/compatibility/wpml.css?ver=e98e5d771f48' type='text/css' media='all' />
    <link rel='stylesheet' id='the7pt.less-css' href='http://oishitown.com/wp-content/uploads/the7-css/post-type-dynamic.css?ver=e98e5d771f48' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='http://oishitown.com/wp-content/themes/dt-the7/style.css?ver=6.4.0' type='text/css' media='all' />
    <style id='style-inline-css' type='text/css'>
        .portfolio-shortcode.portfolio-masonry-shortcode-id-1:not(.centered-layout-list) .post-entry-content {
            padding: 15px 20px 30px 20px !important;
            min-height: 129px;
        }

        .blog-content .entry-meta, .portfolio-categories {
            padding: 0 0 10px;
            display: none;
        }
    </style>
    <link rel='stylesheet' id='bsf-Defaults-css' href='http://oishitown.com/wp-content/uploads/smile_fonts/Defaults/Defaults.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='ultimate-style-css' href='http://oishitown.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/style.min.css?ver=3.16.21' type='text/css' media='all' />
    <script type='text/javascript' src='http://oishitown.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/js/jquery.cookie.js?ver=3.9.4'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wpml_cookies = {"_icl_current_language":{"value":"vi","expires":1,"path":"\/"}};
var wpml_cookies = {"_icl_current_language":{"value":"vi","expires":1,"path":"\/"}};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/js/cookies/language-cookie.js?ver=4.9.5'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.4.7.1'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.4.7.1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var dtLocal = {"themeUrl":"http:\/\/oishitown.com\/wp-content\/themes\/dt-the7","passText":"To view this protected post, enter the password below:","moreButtonText":{"loading":"Loading...","loadMore":"Load more"},"postID":"3719","ajaxurl":"http:\/\/oishitown.com\/wp-admin\/admin-ajax.php","contactMessages":{"required":"One or more fields have an error. Please check and try again."},"ajaxNonce":"f36214e9d9","pageData":{"type":"page","template":"page","layout":null},"themeSettings":{"smoothScroll":"off","lazyLoading":false,"accentColor":{"mode":"solid","color":"#e1474d"},"desktopHeader":{"height":110},"floatingHeader":{"showAfter":150,"showMenu":true,"height":70,"logo":{"showLogo":true,"html":"<img class=\" preload-me\" src=\"http:\/\/oishitown.com\/wp-content\/uploads\/2018\/04\/Logo-oishitown_1x.png\" srcset=\"http:\/\/oishitown.com\/wp-content\/uploads\/2018\/04\/Logo-oishitown_1x.png 97w\" width=\"97\" height=\"49\"   sizes=\"97px\" alt=\"oishitown.com\" \/>","url":"http:\/\/oishitown.com\/"}},"mobileHeader":{"firstSwitchPoint":1150,"secondSwitchPoint":990,"firstSwitchPointHeight":70,"secondSwitchPointHeight":70},"stickyMobileHeaderFirstSwitch":{"logo":{"html":"<img class=\" preload-me\" src=\"http:\/\/oishitown.com\/wp-content\/uploads\/2018\/04\/Logo-oishitown_1x.png\" srcset=\"http:\/\/oishitown.com\/wp-content\/uploads\/2018\/04\/Logo-oishitown_1x.png 97w\" width=\"97\" height=\"49\"   sizes=\"97px\" alt=\"oishitown.com\" \/>"}},"stickyMobileHeaderSecondSwitch":{"logo":{"html":"<img class=\" preload-me\" src=\"http:\/\/oishitown.com\/wp-content\/uploads\/2018\/04\/Logo-oishitown_1x.png\" srcset=\"http:\/\/oishitown.com\/wp-content\/uploads\/2018\/04\/Logo-oishitown_1x.png 97w\" width=\"97\" height=\"49\"   sizes=\"97px\" alt=\"oishitown.com\" \/>"}},"content":{"textColor":"#505050","headerColor":"#333333"},"stripes":{"stripe1":{"textColor":"#72777d","headerColor":"#3c3e45"},"stripe2":{"textColor":"#f4f4f5","headerColor":"#f4f4f5"},"stripe3":{"textColor":"#ffffff","headerColor":"#ffffff"}}},"VCMobileScreenWidth":"768"};
var dtShare = {"shareButtonText":{"facebook":"Share on Facebook","twitter":"Tweet","pinterest":"Pin it","linkedin":"Share on Linkedin","whatsapp":"Share on Whatsapp","google":"Share on Google Plus","download":"Download image"},"overlayOpacity":"85"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/themes/dt-the7/js/above-the-fold.min.js?ver=6.4.0'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate-params.min.js?ver=3.16.21'></script>
    <link rel='https://api.w.org/' href='http://oishitown.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://oishitown.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://oishitown.com/wp-includes/wlwmanifest.xml" />
    <link rel='shortlink' href='http://oishitown.com/' />
    <link rel="alternate" type="application/json+oembed" href="http://oishitown.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Foishitown.com" />
    <link rel="alternate" type="text/xml+oembed" href="http://oishitown.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Foishitown.com&#038;format=xml" />
    <meta name="generator" content="WPML ver:3.9.4 stt:1,28,58;" />

    <!-- Call Now Button 0.3.1 by Jerry Rietveld (callnowbutton.com) -->
    <style>#callnowbutton {display:none;} @@media screen and (max-width:650px){#callnowbutton {display:block; position:fixed; text-decoration:none; z-index:2147483647;width:65px; height:65px; border-radius:80px; border-top:1px solid #2dc62d; border-bottom: 1px solid #006700; bottom:15px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);left:20px;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNjAgNjAiPjxwYXRoIGQ9Ik03LjEwNCAxNC4wMzJsMTUuNTg2IDEuOTg0YzAgMC0wLjAxOSAwLjUgMCAwLjk1M2MwLjAyOSAwLjc1Ni0wLjI2IDEuNTM0LTAuODA5IDIuMSBsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDE2LjUgMTcuNCAxOS44IDE5LjhsMTYuODEzIDEuMTQxYzAgMCAwIDAuNCAwIDEuMSBjLTAuMDAyIDAuNDc5LTAuMTc2IDAuOTUzLTAuNTQ5IDEuMzI3bC02LjUwNCA2LjUwNWMwIDAtMTEuMjYxIDAuOTg4LTI1LjkyNS0xMy42NzRDNi4xMTcgMjUuMyA3LjEgMTQgNy4xIDE0IiBmaWxsPSIjMDA2NzAwIi8+PHBhdGggZD0iTTcuMTA0IDEzLjAzMmw2LjUwNC02LjUwNWMwLjg5Ni0wLjg5NSAyLjMzNC0wLjY3OCAzLjEgMC4zNWw1LjU2MyA3LjggYzAuNzM4IDEgMC41IDIuNTMxLTAuMzYgMy40MjZsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDUuMyA2LjkgOS4xIDEwLjY5OWMzLjg0MiAzLjggNy40IDYuNyAxMC43IDkuMSBsNC43NC00Ljc0MmMwLjg5Ny0wLjg5NSAyLjQ3MS0xLjAyNiAzLjQ5OC0wLjI4OWw3LjY0NiA1LjQ1NWMxLjAyNSAwLjcgMS4zIDIuMiAwLjQgMy4xMDVsLTYuNTA0IDYuNSBjMCAwLTExLjI2MiAwLjk4OC0yNS45MjUtMTMuNjc0QzYuMTE3IDI0LjMgNy4xIDEzIDcuMSAxMyIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==) center/50px 50px no-repeat #009900;}}</style>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://oishitown.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.4.7.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
	var $load = document.getElementById("load");

	var removeLoading = setTimeout(function() {
		$load.className += " loader-removed";
	}, 500);
});
    </script>
    <!-- icon -->
    <link rel="icon" href="http://oishitown.com/wp-content/uploads/2018/04/icon.png" type="image/png" />
    <link rel="shortcut icon" href="http://oishitown.com/wp-content/uploads/2018/04/icon.png" type="image/png" />
    <script type="text/javascript">
function setREVStartSize(e){
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
						}catch(d){console.log("Failure at Presize of Slider:"+d)}
					};</script>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1524151971225 {
            margin-bottom: 20px !important;
        }

        .vc_custom_1523864910955 {
            margin-bottom: 60px !important;
        }

        .vc_custom_1523872306528 {
            padding-top: 40px !important;
        }

        .vc_custom_1523948118422 {
            padding-top: 30px !important;
            padding-bottom: 30px !important;
        }

        .vc_custom_1523864028781 {
            background-color: #f7f7f7 !important;
        }

        .vc_custom_1523864046451 {
            background-color: #f7f7f7 !important;
        }

        .vc_custom_1523864056258 {
            background-color: #f7f7f7 !important;
        }

        .vc_custom_1524152299927 {
            margin-top: 40px !important;
            margin-bottom: 70px !important;
        }

        .vc_custom_1524456613372 {
            padding-top: 30px !important;
            padding-bottom: 30px !important;
        }
    </style>
    <noscript>
    <style type="text/css">
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript><!-- Facebook Pixel Code -->
    <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1657918730991203');
  fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1657918730991203&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Google Code dành cho Thẻ tiếp thị lại -->
    <!--------------------------------------------------
    Không thể liên kết thẻ tiếp thị lại với thông tin nhận dạng cá nhân hay đặt thẻ tiếp thị lại trên các trang có liên quan đến danh mục nhạy cảm. Xem thêm thông tin và hướng dẫn về cách thiết lập thẻ trên: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 806472873;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/806472873/?guid=ON&amp;script=0" />
        </div>
    </noscript>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120901441-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120901441-1');
    </script>

</head>
<body class="home page-template-default page page-id-3719 slideshow-on disabled-hover-icons click-effect-on-img dt-responsive-on srcset-enabled btn-flat custom-btn-color custom-btn-hover-color light-icons phantom-fade phantom-shadow-decoration phantom-custom-logo-on floating-mobile-menu-icon top-header first-switch-logo-center first-switch-menu-left second-switch-logo-center second-switch-menu-left layzr-loading-on dt-wpml popup-message-style dt-fa-compatibility the7-ver-6.4.0 wpb-js-composer js-comp-ver-5.4.7 vc_responsive outlined-portfolio-icons album-minuatures-style-2">
    <!-- The7 6.4.0 -->
    <div id="load" class="ring-loader">
        <div class="load-wrap"></div>
    </div>
    <div id="page">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

       

        @RenderBody()
        <!-- !Footer -->
        <footer id="footer" class="footer solid-bg">


            <div class="wf-wrap">
                <div class="wf-container-footer">
                    <div class="wf-container">
                        <section id="text-2" class="widget widget_text wf-cell wf-1-4">
                            <div class="textwidget">
                                <div role="form" class="wpcf7" id="wpcf7-f32-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/#wpcf7-f32-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="32" /><br />
                                            <input type="hidden" name="_wpcf7_version" value="5.0.1" /><br />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" /><br />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f32-o1" /><br />
                                            <input type="hidden" name="_wpcf7_container_post" value="0" />
                                        </div>
                                        <p>
                                            Họ Tên (*)<br />
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                                        </p>
                                        <p>
                                            Email (*)<br />
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span>
                                        </p>
                                        <p>
                                            Nội dung<br />
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                                        </p>
                                        <p><input type="submit" value="Gửi ngay" class="wpcf7-form-control wpcf7-submit" /></p>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </section><section id="custom_html-4" class="widget_text widget widget_custom_html wf-cell wf-1-4">
                            <div class="textwidget custom-html-widget">
                                <div id="fb-root"></div>
                                <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=1600236620281747&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                                <div class="fb-page" data-href="https://www.facebook.com/oishitownthaodien/" data-tabs="timeline" data-height="510" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/oishitownthaodien/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/oishitownthaodien/">Phố Nhật Bản Oishi Town</a></blockquote></div>
                            </div>
                        </section><section id="custom_html-2" class="widget_text widget widget_custom_html wf-cell wf-1-2"><div class="textwidget custom-html-widget"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0869144241633!2d106.73469271499597!3d10.80465509230238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317526187fa4cb23%3A0xc43d8b6ec6aea33b!2zMjggxJDGsOG7nW5nIFRo4bqjbyDEkGnhu4FuLCBUaOG6o28gxJBp4buBbiwgUXXhuq1uIDIsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1523866903430" width="600" height="510" frameborder="0" style="border:0" allowfullscreen></iframe></div></section>
                    </div><!-- .wf-container -->
                </div><!-- .wf-container-footer -->
            </div><!-- .wf-wrap -->
            <!-- !Bottom-bar -->
            <div id="bottom-bar" class="full-width-line logo-left" role="contentinfo">
                <div class="wf-wrap">
                    <div class="wf-container-bottom">


                        <div class="wf-float-left">

                            © Oishitown.com. All rights reserved.
                        </div>


                        <div class="wf-float-right">




                        </div>

                    </div><!-- .wf-container-bottom -->
                </div><!-- .wf-wrap -->
            </div><!-- #bottom-bar -->
        </footer><!-- #footer -->


        <a href="#" class="scroll-top"><span class="screen-reader-text">Go to Top</span></a>

    </div><!-- #page -->

    <a href="tel:0938479642" id="callnowbutton">&nbsp;</a>
    <script type="text/javascript">
				function revslider_showDoubleJqueryError(sliderID) {
					var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
					errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
					errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
					errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
					errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
						jQuery(sliderID).show().html(errorMessage);
				}
    </script>
    <link rel='stylesheet' id='vc_google_fonts_maven_proregular500700900-css' href='//fonts.googleapis.com/css?family=Maven+Pro%3Aregular%2C500%2C700%2C900&#038;ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='ult-background-style-css' href='http://oishitown.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/background-style.min.css?ver=3.16.21' type='text/css' media='all' />
    <script type='text/javascript' src='http://oishitown.com/wp-content/themes/dt-the7/js/main.min.js?ver=6.4.0'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/oishitown.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.1'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/themes/dt-the7/js/post-type.js?ver=6.4.0'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-includes/js/wp-embed.min.js?ver=4.9.5'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.4.7'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/jquery-appear.min.js?ver=3.16.21'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate_bg.min.js?ver=4.9.5'></script>
    <script type='text/javascript' src='http://oishitown.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-js/custom.min.js?ver=3.16.21'></script>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>