
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="masthead inline-header left widgets shadow-decoration small-mobile-menu-icon dt-parent-menu-clickable show-device-logo show-mobile-logo" role="banner">

    <div class="top-bar top-bar-empty top-bar-line-hide">
        <div class="top-bar-bg"></div>
        <div class="mini-widgets left-widgets"></div>			<div class="mini-widgets right-widgets"></div>
    </div>

    <header class="header-bar">

        <div class="branding">
            <div id="site-title" class="assistive-text">oishitown.com</div>
            <div id="site-description" class="assistive-text">Phố Nhật Bản Oishi Town</div>
            <a href="http://oishitown.com/"><img class=" preload-me" src="http://oishitown.com/wp-content/uploads/2018/04/Logo-oishitown.png" srcset="http://oishitown.com/wp-content/uploads/2018/04/Logo-oishitown.png 136w, http://oishitown.com/wp-content/uploads/2018/04/logo.png 416w" width="136" height="68" sizes="136px" alt="oishitown.com" /><img class="mobile-logo preload-me" src="http://oishitown.com/wp-content/uploads/2018/04/Logo-oishitown_1x.png" srcset="http://oishitown.com/wp-content/uploads/2018/04/Logo-oishitown_1x.png 97w" width="97" height="49" sizes="97px" alt="oishitown.com" /></a>
        </div>
        <ul id="primary-menu" class="main-nav underline-decoration l-to-r-line" role="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-4065 first"><a href='/home/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Trang chủ</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4064"><a href='/home/about' data-level='1'><span class="menu-item-text"><span class="menu-text">Giới thiệu</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4141 current_page_item menu-item-4156 act"><a href='/customer/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Khách hàng</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href='/event/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Sự kiện</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4293"><a href='/news/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Tin tức</span></span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4063"><a href='/home/contact' data-level='1'><span class="menu-item-text"><span class="menu-text">Liên hệ</span></span></a></li>
            <li class="menu-item wpml-ls-slot-123 wpml-ls-item wpml-ls-item-vi wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-123-vi"><a href='http://oishitown.com' data-level='1'><span class="menu-item-text"><span class="menu-text"><img class="wpml-ls-flag" src="http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/vi.png" alt="vi" title="Tiếng Việt"></span></span></a></li>
            <li class="menu-item wpml-ls-slot-123 wpml-ls-item wpml-ls-item-en wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-123-en"><a href='http://oishitown.com?lang=en' data-level='1'><span class="menu-item-text"><span class="menu-text"><img class="wpml-ls-flag" src="http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png" alt="en" title="English"></span></span></a></li>
        </ul>
        <div class="mini-widgets">
            <div class="mini-search show-on-desktop near-logo-first-switch near-logo-second-switch">
                <form class="searchform" role="search" method="get" action="http://oishitown.com/">

                    <label for="search" class="screen-reader-text">Search:</label>
                    <input type="text" class="field searchform-s" name="s" value="" placeholder="Type and hit enter &hellip;" />
                    <input type="hidden" name="lang" value="vi" />		<input type="submit" class="assistive-text searchsubmit" value="Go!" />
                    <a href="#go" id="trigger-overlay" class="submit">Tìm kiếm</a>
                </form>
            </div><div class="soc-ico show-on-desktop in-top-bar-right in-menu-second-switch custom-bg disabled-border border-off hover-accent-bg hover-disabled-border  hover-border-off"><a title="Facebook" href="https://www.facebook.com/oishitownthaodien/" target="_blank" class="facebook"><span class="soc-font-icon"></span><span class="screen-reader-text">Facebook</span></a><a title="Twitter" href="/" target="_blank" class="twitter"><span class="soc-font-icon"></span><span class="screen-reader-text">Twitter</span></a><a title="Google+" href="/" target="_blank" class="google"><span class="soc-font-icon"></span><span class="screen-reader-text">Google+</span></a></div>
        </div>
    </header>

</div><div class='dt-close-mobile-menu-icon'><span></span></div>
<div class='dt-mobile-header'>
    <ul id="mobile-menu" class="mobile-main-nav" role="menu">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4065"><a href='/home/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Trang chủ</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4064"><a href='/home/about' data-level='1'><span class="menu-item-text"><span class="menu-text">Giới thiệu</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4156"><a href='/customer/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Khách hàng</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a href='/event/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Sự kiện</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4293"><a href='/news/index' data-level='1'><span class="menu-item-text"><span class="menu-text">Tin tức</span></span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4063"><a href='/home/contact' data-level='1'><span class="menu-item-text"><span class="menu-text">Liên hệ</span></span></a></li>
        <li class="menu-item wpml-ls-slot-123 wpml-ls-item wpml-ls-item-vi wpml-ls-current-language wpml-ls-menu-item wpml-ls-first-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-123-vi"><a href='http://oishitown.com' data-level='1'><span class="menu-item-text"><span class="menu-text"><img class="wpml-ls-flag" src="http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/vi.png" alt="vi" title="Tiếng Việt"></span></span></a></li>
        <li class="menu-item wpml-ls-slot-123 wpml-ls-item wpml-ls-item-en wpml-ls-menu-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-123-en"><a href='http://oishitown.com?lang=en' data-level='1'><span class="menu-item-text"><span class="menu-text"><img class="wpml-ls-flag" src="http://oishitown.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png" alt="en" title="English"></span></span></a></li>
    </ul>
    <div class='mobile-mini-widgets-in-menu'></div>
</div>
<div class="page-title title-left solid-bg breadcrumbs-mobile-off page-title-responsive-enabled">
    <div class="wf-wrap">

        <div class="page-title-head hgroup"><h1 class="entry-title">NOW Saigon</h1></div><div class="page-title-breadcrumbs"><div class="assistive-text">You are here:</div><ol class="breadcrumbs text-small" xmlns:v="http://rdf.data-vocabulary.org/#"><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://oishitown.com/" title="">Home</a></li><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://oishitown.com/tenant" title="">Portfolio Project</a></li><li class="current">NOW Saigon</li></ol></div>
    </div>
</div>



<div id="main" class="sidebar-right sidebar-divider-off">


    <div class="main-gradient"></div>
    <div class="wf-wrap">
        <div class="wf-container-main">





            <div id="content" class="content" role="main">



                <article id="post-4958" class="project-post post-4958 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 description-off">

                    <div class="project-content">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                                <div class="vc_column-inner vc_custom_1526308885127">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">

                                            <figure class="wpb_wrapper vc_figure">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="http://oishitown.com/wp-content/uploads/2018/08/16.Now-Saigon-150x150.jpg" width="150" height="150" alt="16.Now Saigon" title="16.Now Saigon" data-dt-location="http://oishitown.com/tenant/now-saigon/16-now-saigon" /></div>
                                            </figure>
                                        </div>
                                        <h2 style="font-size: 32px;text-align: center;font-family:Maven Pro;font-weight:500;font-style:normal" class="vc_custom_heading">NOW Saigon</h2>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">

                                            </div>
                                        </div>

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">

                                            </div>
                                        </div>
                                        <style type="text/css" data-type="the7_shortcodes-inline-css">
                                            .dt-shortcode-soc-icons.soc-icons-1 a {
                                                margin-right: 4px;
                                            }

                                            .dt-shortcode-soc-icons a.soc-icons-1 {
                                                min-width:;
                                                min-height:;
                                                font-size:;
                                                border-radius:;
                                                margin-right: 4px;
                                            }

                                                .dt-shortcode-soc-icons a.soc-icons-1:last-child {
                                                    margin-right: 0;
                                                }

                                                .dt-shortcode-soc-icons a.soc-icons-1:before,
                                                .dt-shortcode-soc-icons a.soc-icons-1:after {
                                                    min-width:;
                                                    min-height:;
                                                    padding: inherit;
                                                }

                                                .dt-shortcode-soc-icons a.soc-icons-1:before {
                                                    border: solid;
                                                }

                                                .dt-shortcode-soc-icons a.soc-icons-1:after {
                                                    border: solid;
                                                }

                                                .dt-shortcode-soc-icons a.soc-icons-1:hover {
                                                    font-size:;
                                                }

                                                .dt-shortcode-soc-icons a.soc-icons-1 .soc-font-icon {
                                                    font-size:;
                                                }

                                            .dt-shortcode-soc-icons.single-soc-icon-1 a {
                                                margin-right:;
                                            }

                                            .dt-shortcode-soc-icons a.single-soc-icon-1 {
                                                min-width: 26px;
                                                min-height: 26px;
                                                font-size: 16px;
                                                border-radius: 100px;
                                                margin-right:;
                                            }

                                                .dt-shortcode-soc-icons a.single-soc-icon-1:last-child {
                                                    margin-right: 0;
                                                }

                                                .dt-shortcode-soc-icons a.single-soc-icon-1:before,
                                                .dt-shortcode-soc-icons a.single-soc-icon-1:after {
                                                    min-width: 26px;
                                                    min-height: 26px;
                                                    padding: inherit;
                                                }

                                                .dt-shortcode-soc-icons a.single-soc-icon-1:before {
                                                    border: 0px solid;
                                                }

                                                .dt-shortcode-soc-icons a.single-soc-icon-1:after {
                                                    border: 0px solid;
                                                }

                                                .dt-shortcode-soc-icons a.single-soc-icon-1:hover {
                                                    font-size: 16px;
                                                }

                                            #page .dt-shortcode-soc-icons a.single-soc-icon-1:hover .soc-font-icon,
                                            #phantom .dt-shortcode-soc-icons a.single-soc-icon-1:hover .soc-font-icon {
                                                color: rgba(255,255,255,0.75);
                                                -webkit-text-fill-color: rgba(255,255,255,0.75);
                                                background: none;
                                            }

                                            #page .dt-shortcode-soc-icons a.single-soc-icon-1:not(:hover) .soc-font-icon,
                                            #phantom .dt-shortcode-soc-icons a.single-soc-icon-1:not(:hover) .soc-font-icon {
                                                color: #ffffff;
                                                -webkit-text-fill-color: #ffffff;
                                                background: none;
                                            }

                                            .dt-shortcode-soc-icons a.single-soc-icon-1 .soc-font-icon {
                                                font-size: 16px;
                                            }

                                            .dt-shortcode-soc-icons.single-soc-icon-2 a {
                                                margin-right:;
                                            }

                                            .dt-shortcode-soc-icons a.single-soc-icon-2 {
                                                min-width: 26px;
                                                min-height: 26px;
                                                font-size: 16px;
                                                border-radius: 100px;
                                                margin-right:;
                                            }

                                                .dt-shortcode-soc-icons a.single-soc-icon-2:last-child {
                                                    margin-right: 0;
                                                }

                                                .dt-shortcode-soc-icons a.single-soc-icon-2:before,
                                                .dt-shortcode-soc-icons a.single-soc-icon-2:after {
                                                    min-width: 26px;
                                                    min-height: 26px;
                                                    padding: inherit;
                                                }

                                                .dt-shortcode-soc-icons a.single-soc-icon-2:before {
                                                    border: 0px solid;
                                                }

                                                .dt-shortcode-soc-icons a.single-soc-icon-2:after {
                                                    border: 0px solid;
                                                }

                                                .dt-shortcode-soc-icons a.single-soc-icon-2:hover {
                                                    font-size: 16px;
                                                }

                                            #page .dt-shortcode-soc-icons a.single-soc-icon-2:hover .soc-font-icon,
                                            #phantom .dt-shortcode-soc-icons a.single-soc-icon-2:hover .soc-font-icon {
                                                color: rgba(255,255,255,0.75);
                                                -webkit-text-fill-color: rgba(255,255,255,0.75);
                                                background: none;
                                            }

                                            #page .dt-shortcode-soc-icons a.single-soc-icon-2:not(:hover) .soc-font-icon,
                                            #phantom .dt-shortcode-soc-icons a.single-soc-icon-2:not(:hover) .soc-font-icon {
                                                color: #ffffff;
                                                -webkit-text-fill-color: #ffffff;
                                                background: none;
                                            }

                                            .dt-shortcode-soc-icons a.single-soc-icon-2 .soc-font-icon {
                                                font-size: 16px;
                                            }
                                        </style><div class="dt-shortcode-soc-icons soc-icons-1 soc-icons-center  vc_custom_1524124517537"><a title="Facebook" href="https://www.facebook.com/kaiasaigon/" target="_blank" class="facebook single-soc-icon-1 dt-icon-bg-on dt-icon-hover-bg-on  "><i class="soc-font-icon dt-icon-facebook"></i><span class="screen-reader-text">Facebook</span></a><a title="Dribbble" href="http://www.mienform.com/home " target="_blank" class="dribbble single-soc-icon-2 dt-icon-bg-on dt-icon-hover-bg-on  "><i class="soc-font-icon dt-icon-dribbble"></i><span class="screen-reader-text">Dribbble</span></a></div><div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
                                        <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
                                            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><h4>Hình ảnh</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                                        </div><div class="wf-container dt-gallery-container dt-photos-shortcode resize-by-browser-width loading-effect-none iso-container" data-padding="5px" data-cur-page="1" data-desktop-columns-num="3" data-v-tablet-columns-num="3" data-h-tablet-columns-num="3" data-phone-columns-num="3" data-width="370px" data-columns="2">
                                            <div class="wf-cell iso-item" data-post-id="4985" data-date="2018-09-08T11:45:30+00:00" data-name="Now 01">
                                                <article class="post post-4985 attachment type-attachment status-inherit no-img description-off">

                                                    <figure class="rollover-project links-hovers-disabled">
                                                        <a href="http://oishitown.com/wp-content/uploads/2018/09/Now-01.jpg" class="rollover rollover-zoom dt-pswp-item layzr-bg" title="Now 01" data-dt-img-description="" data-large_image_width="680" data-large_image_height="454"><img class="iso-lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20454%20454&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/09/Now-01-454x454.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/09/Now-01-454x454.jpg 454w" alt="" width="454" height="454" /></a>
                                                    </figure>
                                                </article>

                                            </div><div class="wf-cell iso-item" data-post-id="4986" data-date="2018-09-08T11:45:32+00:00" data-name="Now 02">
                                                <article class="post post-4986 attachment type-attachment status-inherit no-img description-off">

                                                    <figure class="rollover-project links-hovers-disabled">
                                                        <a href="http://oishitown.com/wp-content/uploads/2018/09/Now-02.jpg" class="rollover rollover-zoom dt-pswp-item layzr-bg" title="Now 02" data-dt-img-description="" data-large_image_width="772" data-large_image_height="432"><img class="iso-lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20432%20432&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/09/Now-02-432x432.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/09/Now-02-432x432.jpg 432w" alt="" width="432" height="432" /></a>
                                                    </figure>
                                                </article>

                                            </div><div class="wf-cell iso-item" data-post-id="4987" data-date="2018-09-08T11:45:34+00:00" data-name="Now 03">
                                                <article class="post post-4987 attachment type-attachment status-inherit no-img description-off">

                                                    <figure class="rollover-project links-hovers-disabled">
                                                        <a href="http://oishitown.com/wp-content/uploads/2018/09/Now-03.jpg" class="rollover rollover-zoom dt-pswp-item layzr-bg" title="Now 03" data-dt-img-description="" data-large_image_width="275" data-large_image_height="183"><img class="iso-lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20183%20183&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/09/Now-03-183x183.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/09/Now-03-183x183.jpg 183w" alt="" width="183" height="183" /></a>
                                                    </figure>
                                                </article>

                                            </div><div class="wf-cell iso-item" data-post-id="4988" data-date="2018-09-08T11:45:36+00:00" data-name="Now 04">
                                                <article class="post post-4988 attachment type-attachment status-inherit no-img description-off">

                                                    <figure class="rollover-project links-hovers-disabled">
                                                        <a href="http://oishitown.com/wp-content/uploads/2018/09/Now-04.jpg" class="rollover rollover-zoom dt-pswp-item layzr-bg" title="Now 04" data-dt-img-description="" data-large_image_width="772" data-large_image_height="432"><img class="iso-lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20432%20432&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/09/Now-04-432x432.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/09/Now-04-432x432.jpg 432w" alt="" width="432" height="432" /></a>
                                                    </figure>
                                                </article>

                                            </div><div class="wf-cell iso-item" data-post-id="4989" data-date="2018-09-08T11:45:38+00:00" data-name="Now 05">
                                                <article class="post post-4989 attachment type-attachment status-inherit no-img description-off">

                                                    <figure class="rollover-project links-hovers-disabled">
                                                        <a href="http://oishitown.com/wp-content/uploads/2018/09/Now-05.jpg" class="rollover rollover-zoom dt-pswp-item layzr-bg" title="Now 05" data-dt-img-description="" data-large_image_width="772" data-large_image_height="432"><img class="iso-lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20432%20432&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/09/Now-05-432x432.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/09/Now-05-432x432.jpg 432w" alt="" width="432" height="432" /></a>
                                                    </figure>
                                                </article>

                                            </div><div class="wf-cell iso-item" data-post-id="4990" data-date="2018-09-08T11:45:40+00:00" data-name="Now 06">
                                                <article class="post post-4990 attachment type-attachment status-inherit no-img description-off">

                                                    <figure class="rollover-project links-hovers-disabled">
                                                        <a href="http://oishitown.com/wp-content/uploads/2018/09/Now-06.jpg" class="rollover rollover-zoom dt-pswp-item layzr-bg" title="Now 06" data-dt-img-description="" data-large_image_width="1024" data-large_image_height="768"><img class="iso-lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20768%20768&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/09/Now-06-768x768.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/09/Now-06-768x768.jpg 768w" alt="" width="768" height="768" /></a>
                                                    </figure>
                                                </article>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="single-share-box"><div class="share-link-description">Share this post</div><div class="share-buttons"><a class="facebook" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Foishitown.com%2Ftenant%2Fnow-saigon&#038;t=NOW+Saigon" title="Facebook" target="_blank"><span class="soc-font-icon"></span><span class="screen-reader-text">Share with Facebook</span></a><a class="twitter" href="https://twitter.com/share?url=http%3A%2F%2Foishitown.com%2Ftenant%2Fnow-saigon&#038;text=NOW+Saigon" title="Twitter" target="_blank"><span class="soc-font-icon"></span><span class="screen-reader-text">Share with Twitter</span></a><a class="google" href="http://plus.google.com/share?url=http%3A%2F%2Foishitown.com%2Ftenant%2Fnow-saigon&#038;title=NOW+Saigon" title="Google+" target="_blank"><span class="soc-font-icon"></span><span class="screen-reader-text">Share with Google+</span></a><a class="pinterest pinit-marklet" href="//pinterest.com/pin/create/button/" title="Pinterest" target="_blank" data-pin-config="above" data-pin-do="buttonBookmark"><span class="soc-font-icon"></span><span class="screen-reader-text">Share with Pinterest</span></a><a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&#038;url=http%3A%2F%2Foishitown.com%2Ftenant%2Fnow-saigon&#038;title=NOW%20Saigon&#038;summary=&#038;source=oishitown.com" title="LinkedIn" target="_blank"><span class="soc-font-icon"></span><span class="screen-reader-text">Share with LinkedIn</span></a><a class="whatsapp" href="whatsapp://send?text=NOW%20Saigon%20-%20http%3A%2F%2Foishitown.com%2Ftenant%2Fnow-saigon" title="WhatsApp" target="_blank" data-action="share/whatsapp/share"><span class="soc-font-icon"></span><span class="screen-reader-text">Share with WhatsApp</span></a></div></div><nav class="navigation post-navigation" role="navigation"><h2 class="screen-reader-text">Project navigation</h2><div class="nav-links"><span class="nav-previous disabled"></span><a class="back-to-list" href="http://oishitown.com/khach-hang"><i class="fa fa-th" aria-hidden="true"></i></a><a class="nav-next" href="http://oishitown.com/tenant/nana-chan-crepes" rel="prev"><i class="fa fa-angle-right" aria-hidden="true"></i><span class="meta-nav" aria-hidden="true">Next</span><span class="screen-reader-text">Next project:</span><span class="post-title h4-size">Nana-chan Crepes</span></a></div></nav>
                </article>

                <div class="single-related-posts">
                    <h3>Related Tenant</h3><div class="arrows-accent related-projects slider-wrapper description-under-image content-align-centre" data-padding-side="30" data-autoslide="false" data-delay="" data-loop="false" data-max-width="80">
                        <div class="frame fullwidth-slider">
                            <ul class="clearfix">
                                <li class="fs-entry">

                                    <article class="post post-4898 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/nana-chan-crepes" class="alignnone rollover layzr-bg" title="nana"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/08/nana-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/08/nana-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/08/nana-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/08/nana.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="nana" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/nana-chan-crepes" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/nana-chan-crepes" title="Nana-chan Crepes" rel="bookmark">Nana-chan Crepes</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-4046 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/maru-chan" class="alignnone rollover layzr-bg" title="bbq"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/bbq-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/bbq-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/04/bbq-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/04/bbq.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="bbq" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/maru-chan" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/maru-chan" title="Seafood &#038; BBQ Maru-Chan" rel="bookmark">Seafood &#038; BBQ Maru-Chan</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-3966 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/tonkotsu-ittou" class="alignnone rollover layzr-bg" title="pho"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/pho-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/pho-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/04/pho-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/04/pho.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="pho" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/tonkotsu-ittou" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/tonkotsu-ittou" title="Tonkotsu Ittou" rel="bookmark">Tonkotsu Ittou</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-4685 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/joyful-chicken" class="alignnone rollover layzr-bg" title="ga-khong-xuong-sot-pho-mai-cay"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/06/ga-khong-xuong-sot-pho-mai-cay-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/06/ga-khong-xuong-sot-pho-mai-cay-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/06/ga-khong-xuong-sot-pho-mai-cay-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/06/ga-khong-xuong-sot-pho-mai-cay.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="ga-khong-xuong-sot-pho-mai-cay" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/joyful-chicken" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/joyful-chicken" title="Nhà hàng Joyful Chicken" rel="bookmark">Nhà hàng Joyful Chicken</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-4407 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/edo-takoichi" class="alignnone rollover layzr-bg" title="edo"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/05/edo-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/05/edo-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/05/edo-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/05/edo.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="edo" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/edo-takoichi" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/edo-takoichi" title="Cửa hàng Edo Takoichi" rel="bookmark">Cửa hàng Edo Takoichi</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-4036 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/nha-hang-sushi-roll" class="alignnone rollover layzr-bg" title="tameki"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/tameki-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/tameki-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/04/tameki-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/04/tameki.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="tameki" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/nha-hang-sushi-roll" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/nha-hang-sushi-roll" title="Temaki Roll" rel="bookmark">Temaki Roll</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-4040 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-uong dt_portfolio_category-138 dt_portfolio_category-139 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/sai-gon-bar" class="alignnone rollover layzr-bg" title="bia"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/bia-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/bia-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/04/bia-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/04/bia.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="bia" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/sai-gon-bar" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/sai-gon-bar" title="Saigon Bar" rel="bookmark">Saigon Bar</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a>, <a href="http://oishitown.com/project-category/uong">Uống</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-4033 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/nha-hang-teppanyaki" class="alignnone rollover layzr-bg" title="hinh-house"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/hinh-house-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/hinh-house-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/04/hinh-house-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/04/hinh-house.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="hinh-house" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/nha-hang-teppanyaki" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/nha-hang-teppanyaki" title="The Meatball&#8217;s House" rel="bookmark">The Meatball&#8217;s House</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-4030 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/nha-hang-o-thuong" class="alignnone rollover layzr-bg" title="o-thuong"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/o-thuong-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/o-thuong-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/04/o-thuong-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/04/o-thuong.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="o-thuong" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/nha-hang-o-thuong" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/nha-hang-o-thuong" title="Nhà hàng Ơ Thương" rel="bookmark">Nhà hàng Ơ Thương</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                                <li class="fs-entry">

                                    <article class="post post-4027 dt_portfolio type-dt_portfolio status-publish has-post-thumbnail dt_portfolio_category-an dt_portfolio_category-138 text-centered">

                                        <div class="project-list-media">
                                            <figure class="buttons-on-img ">
                                                <a href="http://oishitown.com/tenant/nha-hang-mekong-kichen" class="alignnone rollover layzr-bg" title="mekong"><img class="lazy-load preload-me" src="data:image/svg+xml,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20304%20180&#39;%2F%3E" data-src="http://oishitown.com/wp-content/uploads/2018/04/mekong-304x180.jpg" data-srcset="http://oishitown.com/wp-content/uploads/2018/04/mekong-304x180.jpg 304w, http://oishitown.com/wp-content/uploads/2018/04/mekong-608x360.jpg 608w" alt="" width="304" height="180" /></a>				<figcaption class="rollover-content">
                                                    <div class="links-container"><a href="http://oishitown.com/wp-content/uploads/2018/04/mekong.jpg" class="project-zoom dt-pswp-item dt-single-pswp-popup" title="mekong" data-dt-img-description="" data-large_image_width="800" data-large_image_height="473">Zoom</a><a href="http://oishitown.com/tenant/nha-hang-mekong-kichen" class="project-details">Details</a></div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="project-list-content">
                                            <h3 class="entry-title"><a href="http://oishitown.com/tenant/nha-hang-mekong-kichen" title="Nhà hàng Mekong Kichen" rel="bookmark">Nhà hàng Mekong Kichen</a></h3><div class="entry-meta portfolio-categories"><span class="category-link"><a href="http://oishitown.com/project-category/an">Ăn</a></span></div>
                                        </div>
                                    </article>

                                </li>
                            </ul>
                        </div><div class="prev"><i></i></div><div class="next"><i></i></div>
                    </div>
                </div>


            </div><!-- #content -->


            <aside id="sidebar" class="sidebar bg-under-widget">
                <div class="sidebar-content widget-divider-off">
                    <section id="nav_menu-2" class="widget widget_nav_menu">
                        <div class="widget-title">Đối tác</div><div class="menu-doi-tac-container">
                            <ul id="menu-doi-tac" class="menu">
                                <li id="menu-item-4197" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4197"><a href="/partner/detail">HALULU Nail</a></li>
                                <li id="menu-item-4198" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4198"><a href="http://oishitown.com/tenant/cafe-latte">Cafe Latte</a></li>
                                <li id="menu-item-4480" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4480"><a href="http://oishitown.com/tenant/sai-gon-bar">Saigon Bar</a></li>
                                <li id="menu-item-4200" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4200"><a href="http://oishitown.com/tenant/kins-shop">Kin&#8217;s Shop</a></li>
                                <li id="menu-item-4201" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4201"><a href="http://oishitown.com/tenant/nha-hang-mekong-kichen">Nhà hàng Mekong Kichen</a></li>
                                <li id="menu-item-4202" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4202"><a href="http://oishitown.com/tenant/nha-hang-o-thuong">Nhà hàng Ơ Thương</a></li>
                                <li id="menu-item-4203" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4203"><a href="http://oishitown.com/tenant/tonkotsu-ittou">Tonkotsu Ittou</a></li>
                                <li id="menu-item-4204" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4204"><a href="http://oishitown.com/tenant/nha-hang-sushi-roll">Temaki Roll</a></li>
                                <li id="menu-item-4206" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4206"><a href="http://oishitown.com/tenant/nha-hang-teppanyaki">The Meatball&#8217;s House</a></li>
                                <li id="menu-item-4207" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4207"><a href="http://oishitown.com/tenant/sake-bar">Hem Bar</a></li>
                                <li id="menu-item-4208" class="menu-item menu-item-type-post_type menu-item-object-dt_portfolio menu-item-4208"><a href="http://oishitown.com/tenant/maru-chan">Seafood &#038; BBQ Maru-Chan</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </aside><!-- #sidebar -->





        </div><!-- .wf-container -->
    </div><!-- .wf-wrap -->
</div><!-- #main -->
